
.header {
	background-color: orange;
	height: 80px;
	width: 950px;
	color: white;
	text-align: left;
	font-family: "helvetica";
	line-height: 60px;
	padding-left: 10px;
	position: fixed;
}
.one, .two, .three {
	height: 1750px;
	width: 250px;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	border-color: grey;
	border-radius: 8px;
	font-family: "helvetica";
	vertical-align: top;
	margin-left: 50px;
	margin-top: 100px;
	box-sizing: border-box;
	padding: 10px;
}
h1 {
	font-size: 35px;
}
.footer {
	background-color: orange;
	height: 80px;
	width: 950px;
	color: white;
	text-align: left;
	font-family: "helvetica";
	line-height: 60px;
	margin-top: 30px;
	padding-left: 10px;
}