@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Quicksand');
.body {
	border-left: 190px solid white
}
.body {
	border-right: 190px solid white
}
.cc {
	color: white;
}
	
.coding_classes {
	height: 60px;
	background-color: #4990E2;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	}
.picture {
	height: 300px;
	background-color: #060735;
	text-align: center;

}
.links {
	height: 60px;
	background-color: #4990E2
}
.text {
height: 150px;
font-family: 'Quicksand', sans-serif;
}
.copyright {
	height: 70px;
	background-color: #4990E2;
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-weight: normal;
}
